header {
	background-color: rgba(0, 0, 0, 0.8);

	.site-logo {
		img {
			max-width: 275px;
				@include responsive(xs-md) {
					max-width: 200px;
				}
		}
	}

	.btn {
		color: var(--white-color);
		padding: 0;

		svg {
			width: 30px;
			height: 30px;
			color: var(--white-color)
		}
	}

	#offCanvasMenu {
		.btn-close {
			filter: brightness(0) invert(1);
		}

		.navbar-nav {

			li {
				padding-left: 0.5rem;
				padding-right: 0.5rem;

				a {
					color: var(--white-color);
				}

				@include responsive(xs-md) {
					padding-left: 0.3rem;
					padding-right: 0.3rem;
				}
			}

			@include responsive(md-lg) {
				flex-direction: row;
				justify-content: flex-end;
			}
		}

		@include responsive(md-lg) {
			position: relative;
			transform: none;
			opacity: 1;
			visibility: visible;
			background-color: transparent;
			border: none;
			width: auto;
		}

		@include responsive(xs-sm) {
			background-color: #444;
		}
	}
}