header {
	background-color: rgba(0, 0, 0, 0.8);

	.site-logo {
		img {
			max-width: 275px;
		}
	}

	.btn {
		display: inline-block !important;
		color: var(--white-color);
		padding: 0;

		svg {
			width: 30px;
			height: 30px;
		}
	}

	#offCanvasMenu {


		.navbar-nav {

			li {
				padding-left: 0.5rem;
				padding-right: 0.5rem;

				a {
					color: var(--white-color);
				}
			}

			@include responsive(md-lg) {
				flex-direction: row;
				justify-content: flex-end;
			}
		}

		@include responsive(md-lg) {
			position: relative;
			transform: none;
			opacity: 1;
			visibility: visible;
			background-color: transparent;
			border: none;
			width: auto;
		}

		@include responsive(xs-sm) {
			background-color: #444;
		}
	}
}