header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;


	@include transition(500ms);

	.header-inner {
		position: relative;
		z-index: 9999;
		@include transition(500ms);

		&.has-top-bar {
			margin-top: var(--top-bar-height, 38px);

			@include responsive(xs-sm) {
				margin-top: var(--top-bar-height, 55.5px);
			}

			@include responsive(xs) {
				margin-top: var(--top-bar-height, 46px);
			}

			@include responsive(mobile) {
				margin-top: var(--top-bar-height, 38px);
			}
		}
	}

	.site-logo {

		img,
		svg {
			max-width: 241px;
			width: 100%;

			@include responsive(md) {
				max-width: 150px;
			}

			@include responsive(xxs) {
				max-width: 120px;
			}
		}
	}

	.offcanvas {
		z-index: 99999;
		border: none !important;

		.btn-close {
			@include filter(brightness(0) invert(1));
		}

		@include responsive(md-lg) {
			position: static;
			@include transform(none);
			width: 100%;
			visibility: visible;
			background-color: transparent;
			border: none;
		}

		@include responsive(xs-sm) {
			background-color: var(--primary-color);
			padding: 2rem;

		}
	}

	#navbarMain {
		display: flex !important;

		@include responsive(xs-sm) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	.col-menu {

		@include responsive(xs-sm) {
			padding-right: 0;
			@include order(3);
		}

	}

	.background-white {
		.navbar ul.navbar-nav li .nav-link {
			@include on-event {
				color: var(--accent-color);
			}
		}
	}

	.navbar {
		ul.navbar-nav {
			li {
				height: 100%;
				padding-left: 1.5rem;
				padding-right: 1.5rem;

				.nav-link {
					color: inherit;
					height: 100%;
					border-radius: 0;
					font-weight: 500;
					letter-spacing: 0.8px;
					padding-top: 0;
					padding-bottom: 0;
					//padding-right: 25px;
					padding-left: 0;
					padding-right: 0;
					position: relative;
					text-transform: uppercase;
					opacity: 0.75;
					@include display-flex;
					@include align-items(center);

					@media (max-width: 1399px) {
						font-size: 14px;
					}

					@media(max-width: 1299px) {
						font-size: 13px;
					}

					@media(max-width: 1199px) {
						font-size: 16px;
					}

					@include responsive(xs-sm) {
						padding-left: 0;
						padding-right: 0;
						padding-top: 1rem;
						padding-bottom: 1rem;
						width: 100%;
					}

					&.active {
						color: var(--accent-color);
					}

					@include responsive(xs-sm) {
						justify-content: space-between;
					}



					@include responsive(md-lg) {
						@include before {
							content: none;
							width: 9px;
							height: 9px;
							background-color: var(--accent-color);
							border-radius: 50%;
							position: absolute;
							right: 0;
							z-index: 1;
						}

						@include after {
							content: none;
							width: 9px;
							height: 9px;
							background-color: transparent;
							border-radius: 50%;
							position: absolute;
							right: 0;
							animation: pulse 2s infinite;
						}
					}

					@include on-event {
						color: inherit;
						opacity: 1;

						@include responsive(md-lg) {

							@include after {
								width: 40px;
								height: 40px;
								opacity: 0.3;
							}
						}
					}

					@include responsive(xs-sm) {
						color: var(--white-color);
					}
				}

				@media(max-width: 1499px) {
					padding-left: 1rem;
					padding-right: 1rem;
				}


				@media (max-width: 1399px) {
					padding-left: 1rem;
					padding-right: 1rem;
					font-size: 14px;
				}

				@media(max-width: 1299px) {
					padding-left: 0.75rem;
					padding-right: 0.75rem;
				}

				@include responsive(xs-md) {
					padding-left: 0.5rem;
					padding-right: 0.5rem;
				}

				@include responsive(xs-sm) {
					padding-left: 0;
					padding-right: 0;
					width: 100%;
				}

				&.menu-item-has-children {
					>.nav-link {
						svg {
							width: 20px;
						}


					}
				}
			}

			@include responsive(xs-sm) {
				width: 100%;
			}
		}
	}

	.dropdown-menu {
		background-color: var(--accent-color);
		border-radius: 0;
		border: none;
		padding: 1rem 0 !important;
		margin-left: -2rem;
		margin-right: -2rem;

		li {
			.dropdown-item {
				color: var(--white-color);
				padding: 0.75rem 2rem;
				text-transform: uppercase;
				font-weight: 500;

				&.active {
					background-color: var(--accent-color);
				}
			}
		}
	}

	.col-logo {
		position: relative;
		z-index: 1;

		.site-logo {
			display: inline-block;

			@include responsive(xs-md) {
				max-width: 200px;
			}
		}
	}

	.col-right {
		.column-holder {
			.button-group-box {
				.button-box {
					@media(max-width: 1399px) {
						margin-right: 5px;
					}

					@media(max-width: 1100px) {
						margin-right: 0;
					}
				}
			}

			.button-box {
				&.button-accent {

					a,
					button {
						color: var(--white-color) !important;

						@include on-event {
							color: var(--accent-color) !important;
						}
					}
				}

				a,
				button {
					text-transform: initial !important;
					color: inherit;
					font-weight: 500;
					line-height: 1;
					text-decoration: none !important;

					@media(max-width: 1599px) {
						padding-left: 1rem;
						padding-right: 1rem;
						font-size: 14px;
					}

					@media(max-width: 1399px) {
						padding-left: 10px;

						padding-right: 10px;
					}


					@include responsive(xs-md) {
						padding-left: 5px !important;
						padding-right: 5px !important;
					}

					@include on-event {
						color: var(--accent-color);
						text-decoration: underline !important;
					}
				}
			}

			>div {
				@include not-last-child {
					margin-right: 2rem;

					@media(max-width: 1250px) {
						margin-right: 1rem;
					}


				}
			}
		}

		.header-icons {
			position: relative;
			z-index: 1;

			ul {
				li {
					a {
						color: inherit;

						svg {
							width: 22px;
							height: 22px;
							opacity: 0.6;

							@include responsive(xs-sm) {
								width: 25px;
								height: 25px;
							}

						}


					}

					@include not-last-child {
						margin-right: 1.5vw;

						@media(max-width: 1100px) and (min-width: 992px) {
							margin-right: 8px;
						}

						@include responsive(xs-sm) {
							margin-right: 1.5rem;
						}
					}
				}
			}

			@media(max-width: 1100px) {
				margin-right: 10px !important;
			}
		}


		.button-box.button-box {
			a {
				@include responsive(xs-md) {
					padding-left: 1rem;
					padding-right: 1rem;
				}
			}
		}
	}

	@include responsive(xs-sm) {
		z-index: 9999999;
	}

	.header-main {
		position: relative;
		@include transition(500ms);

		overflow: visible;
		padding-top: 2.875rem;
		padding-bottom: 2.875rem;
		z-index: 3;

		.row-holder {
			@include responsive(xs-md) {
				--bs-gutter-x: 10px;
			}
		}

		.container {
			@media(max-width: 1399px) {
				max-width: 100%;
			}

			@include responsive(xs-sm) {
				padding-left: calc(0.75rem + 10px);
				padding-right: calc(0.75rem + 10px);
			}
		}

		@include responsive(md-lg) {
			@include before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 257px;
				background: transparent linear-gradient(180deg, #000000ab 0%, #00000000 100%) 0% 0% no-repeat padding-box;
				@include transition(300ms);
			}
		}

		@include responsive(xs-md) {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}

		@include responsive(xs-sm) {
			background-color: var(--primary-color) !important;
			color: var(--white-color) !important;

			.site-logo {
				svg {
					fill: var(--white-color);
				}
			}
		}

		@include responsive(xs) {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		&.background-transparent {
			color: var(--white-color);

			.site-logo {
				svg {
					fill: var(--white-color);
				}
			}
		}

		&.background-white {
			.navbar-toggler.navbar-toggler .navbar-toggler-icon .icon-bar {
				background-color: var(--black-color);
			}
		}
	}
}

.navbar-toggler.navbar-toggler {
	position: relative;
	z-index: 1;
	padding: 0;
	margin: 0;
	border: none;
	z-index: 9999;
	@include box-shadow(none);

	.navbar-toggler-icon {
		width: 20px;
		height: 20px;
		position: relative;
		background-image: none;

		.icon-bar {
			display: block;
			height: 2px;
			background-color: var(--white-color);
			position: absolute;
			width: 100%;
			@include transition(300ms);

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2) {
				top: 9px;
			}

			&:nth-child(3) {
				bottom: 0;
			}
		}

		.fa-xmark {
			display: none;
		}
	}

	&[aria-expanded="true"] {
		.navbar-toggler-icon {
			.icon-bar {
				&:nth-child(1) {
					@include transform(rotate(45deg));
					top: 9px;
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					@include transform(rotate(-45deg));
					top: 9px;
				}
			}
		}
	}
}

.modal-open {
	header {
		.header-main {
			@include before {
				content: none;
			}
		}

		@include before {
			@include transform(translateY(0));
		}
	}
}

.scrolled-up {

	header {
		@include responsive(md-lg) {
			.header-inner {
				margin-top: 0;
			}
		}
	}

	.top-bar {
		@include responsive(md-lg) {
			visibility: hidden;
			opacity: 0;
			@include transform(translateY(-100%));
		}

		@include responsive(xs-sm) {
			@include transform(translateY(0));
		}
	}

	.background-transparent {
		background-color: var(--black-color);

		.navbar-nav {
			color: var(--white-color) !important;
		}

		.header-icons {
			color: var(--white-color);
		}
	}
}

.scrolled-down {
	.top-bar {
		@include responsive(md-lg) {
			@include transform(translateY(-100%));
		}
	}

	header {
		@include responsive(md-lg) {
			@include transform(translateY(-100%));
		}

		.header-main:before {
			visibility: hidden;
			opacity: 0;
		}

		@include responsive(md-lg) {
			.header-inner.has-top-bar {
				margin-top: 0 !important;
			}
		}
	}
}

.admin-bar {
	header {
		.offcanvas {
			@include responsive(xs-sm) {
				padding: 10vh 2rem 2rem 2rem;
			}
		}

		top: 32px;

		@include responsive(xs-sm) {
			top: 0;
		}
	}
}

.hero-banner-animated {
	.navbar-nav {
		color: var(--white-color);
	}
}

body {
	&:not(.hero-banner-animated) {
		header {
			.header-main {
				.navbar-nav {
					color: var(--black-color);
				}

				@include before {
					content: none;
				}
			}
		}
	}
}

body {
	&.hero-banner-revealing_heading {
		header {
			.header-main {
				.navbar-nav {
					color: var(--white-color);
				}

				.header-icons {
					color: var(--white-color);
				}

				@include before {
					content: none;
				}
			}
		}
	}
}

.shop-modal-open {
	header {
		.header-main {
			&.background-white {
				background-color: var(--black-color);
				color: var(--white-color);
			}

			.site-logo {
				svg {
					fill: var(--black-color);
				}
			}
		}

		.navbar ul.navbar-nav li .nav-link {
			color: var(--white-color);
		}
	}
}

.top-bar {
	position: absolute;
	top: 0;
	z-index: 999;
	left: 0;
	right: 0;
	font-size: 13px;
	color: var(--white-color);

	@include transition(500ms);

	.button-box {

		a,
		button {
			text-decoration: none !important;
			width: 100%;
			font-size: 14px;
			line-height: 1;
			border-radius: 0;

			@include responsive(mobile) {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}

	.container {
		@include responsive(xs-md) {
			max-width: 100%;
		}

		@include responsive(xs-sm) {
			padding: 0;
		}
	}

	ul {
		margin-bottom: 0;
		list-style: none;
		@include inline-flex;
		padding-left: 0;

		li {
			a {
				color: inherit;
			}

			@include not-last-child {
				margin-right: 1.5rem;
			}
		}


	}

	@include responsive(md-lg) {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	@include responsive(xs-sm) {
		z-index: 99999;
	}

	.top-bar-mobile {
		p {
			display: none;
		}
	}
}

#mega-menu-wrap-header-menu {
	position: static;
	height: 100%;

	#mega-menu-header-menu {
		position: static;

		a {
			@include responsive(xs-sm) {
				color: var(--white-color) !important;
			}
		}

		>li.mega-menu-item {
			position: static;

			@include responsive(xs-sm) {

				border-bottom: 1px solid #1b1b1b;
				line-height: 1.4 !important;
				@include transition(opacity 300ms);
				opacity: 1;

			}

			&:nth-child(1) {
				transition-delay: 500ms, 0ms;
			}

			&:nth-child(2) {
				transition-delay: 600ms, 0ms;
			}

			&:nth-child(3) {
				transition-delay: 700ms, 0ms;
			}

			&:nth-child(4) {
				transition-delay: 800ms, 0ms;
			}

			&:nth-child(5) {
				transition-delay: 900ms, 0ms;
			}

			&:nth-child(6) {
				transition-delay: 1000ms, 0ms;
			}

			&:nth-child(7) {
				transition-delay: 1200ms, 0ms;
			}

			>a.mega-menu-link {
				font-weight: 500 !important;
				display: flex;
				align-items: center;
				padding-left: 1.5rem;
				padding-right: 1.5rem;

				@media(min-width: 992px) {
					height: 100%;
				}

				@media(max-width: 1699px) {

					padding-left: 1vw;
					padding-right: 1vw;
					font-size: 15px;
				}

				@media(max-width: 1499px) and (min-width: 1350px) {
					padding-left: 8px;
					padding-right: 8px;
				}


				@media(max-width: 1399px) {
					font-size: 14px;
				}

				@media(max-width: 1299px) {
					font-size: 13px;
					padding-left: 8px;
					padding-right: 8px;

				}


				@include responsive(xs-md) {
					padding-left: 5px;
					padding-right: 5px;
				}


				@include responsive(xs-sm) {
					padding-left: calc(0.75rem + 10px);
					padding-right: calc(0.75rem + 10px);
					justify-content: space-between;
					font-size: 14px !important;
					font-weight: 400 !important;
					height: auto !important;
					line-height: 1.4 !important;
					padding-top: 15px;
					padding-bottom: 15px;

					.mega-menu-title {
						font-size: 14px !important;
					}
				}

				@media(max-width: 1100px) and (min-width: 992px) {
					font-size: 12px;
				}

			}

			&.mega-menu-flyout {
				>ul.mega-sub-menu {
					padding-top: 0;
					padding-bottom: 0;

					li {
						a {
							padding-top: 10px !important;
							padding-bottom: 10px !important;
							text-transform: uppercase !important;
							font-size: inherit !important;
						}
					}
				}
			}

			&.mega-menu-grid {
				@include responsive(md-lg) {
					>ul.mega-sub-menu {
						@include before {
							content: '';
							display: block !important;
							position: absolute;
							background-color: #fff;
							top: -100px;
							left: 0;
							right: 0;
							bottom: 0;
						}
					}
				}
			}

			>ul.mega-sub-menu {
				left: 0;
				padding-top: 2.875rem;
				padding-bottom: 2rem;
				z-index: -1;
				padding-left: 1rem;
				padding-right: 1rem;

				>.mega-menu-row {
					max-width: 1360px;
					float: none !important;
					margin-left: auto;
					margin-right: auto;
				}

				@include responsive(xs-sm) {
					background-color: var(--black-color);
					padding-left: 3rem;
					padding-right: 3rem;
					padding-top: 1rem;
					border-bottom: 1px solid #1b1b1b;

					.mega-menu-description {
						display: none !important;
					}
				}
			}

			@media(min-width: 992px) {
				height: 100%;
			}

			&.mega-toggle-on {
				>a.mega-menu-link {
					background-color: var(--accent-color) !important;
				}
			}
		}

		@media(max-width: 1024px) {}

		@media(min-width: 992px) {
			height: 100%;
		}
	}

	.product-categories {
		li {
			text-transform: uppercase;

			a {
				font-weight: 500;
			}

			@include not-last-child {
				margin-bottom: 1rem;
			}
		}
	}
}

.mega-menu-custom-boxes {

	>ul.mega-sub-menu {
		display: flex !important;

		>li.mega-menu-item {
			flex: 0 0 auto;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			max-width: 33.33333% !important;

			.textwidget {
				text-align: center;
				font-weight: 400;

				p {
					@include last-child {
						margin-bottom: 0 !important;
					}
				}

				img {
					height: auto;


				}
			}


			@include responsive(xs-sm) {
				padding-left: 5px !important;
				padding-right: 5px !important;
				margin-top: 1rem !important;
				margin-bottom: 1rem !important;

				.mega-block-title {
					display: none !important;
				}
			}
		}

		@include responsive(xs-sm) {
			padding-left: calc(0.75rem + 10px);
			padding-right: calc(0.75rem + 10px);
			margin-left: -5px;
			margin-right: -5px;
		}
	}

	@include responsive(xs-sm) {
		margin-top: 1rem;
	}
}

@include responsive(md-lg) {


	header {
		&.mega-menu-opened {

			.col-right .column-holder .button-box,
			.col-right .header-icons ul li {

				a,
				button {
					color: var(--primary-color);
				}
			}

			.header-main {
				background-color: var(--white-color);

				.site-logo {
					svg {
						fill: var(--black-color) !important;
					}
				}

				#mega-menu-wrap-header-menu #mega-menu-header-menu>li.mega-menu-item>a.mega-menu-link {
					color: var(--black-color);
					opacity: 1;
				}

				@include before {
					display: none;
				}
			}
		}
	}
}

.header-background-white {
	#mega-menu-wrap-header-menu #mega-menu-header-menu>li.mega-menu-item>a.mega-menu-link {
		color: var(--black-color);
		opacity: 1;
	}
}

.header-background-black {
	.top-bar {
		background-color: #0a0a0a;
	}

	header {
		.site-logo {
			svg {
				fill: var(--white-color);
			}
		}
	}

	#mega-menu-wrap-header-menu .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner,
	#mega-menu-wrap-header-menu .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::before,
	#mega-menu-wrap-header-menu .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::after {
		background-color: var(--white-color);
	}
}

.header-background-transparent {
	header {
		.header-main {
			.site-logo {
				svg {
					fill: var(--white-color);
				}
			}
		}
	}
}

.mega-menu-toggle {
	background-color: transparent !important;

	.mega-toggle-block {
		margin: 0 !important;
	}
}

#mega-menu-wrap-header-menu .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner,
#mega-menu-wrap-header-menu .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::before,
#mega-menu-wrap-header-menu .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::after {
	background-color: var(--primary-color);

	@include responsive(xs-sm) {
		background-color: var(--white-color);
	}
}

#mega-menu-wrap-header-menu #mega-menu-header-menu>li.mega-menu-item:not(.mega-menu-grid) {
	position: relative;
}

.header-menu-holder {}

#mega-menu-wrap-header-menu .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner,
#mega-menu-wrap-header-menu .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::before,
#mega-menu-wrap-header-menu .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::after {
	height: 5px !important;
}


#mega-menu-wrap-header-menu #mega-menu-header-menu a.mega-menu-link .mega-description-group .mega-menu-description {
	@include responsive(md-lg) {
		display: none !important;
	}

	@include responsive(xs-sm) {
		font-size: 14px !important;
		font-style: normal;
		margin-top: 1rem;
		padding-right: 15vw;
	}
}

.mega-menu-columns-3-of-12 {
	>ul.mega-sub-menu {
		>li.mega-menu-item {
			padding: 0 !important;

			a.mega-menu-link {
				font-size: 14px !important;
				font-weight: 500 !important;
				color: var(--primary-color) !important;
				display: flex !important;
				@include align-items(center);

				@include on-event {
					color: var(--accent-color) !important;
				}
			}

			@include not-last-child {
				margin-bottom: 1rem !important;
			}
		}
	}
}

#mega-menu-wrap-header-menu #mega-menu-header-menu li.mega-menu-item-has-children>a.mega-menu-link>span.mega-indicator {
	margin-top: -7px !important;
	margin-left: 10px !important;

	@include before {
		content: '';
		display: inline-block;
		width: 10px;
		height: 10px;
		border-left: 2px solid;
		border-bottom: 2px solid;
		@include transform(rotate(-45deg));

		@media(max-width: 1299px) {
			width: 7px;
			height: 7px;
		}
	}

	@include after {
		display: none !important;
	}

	@media(max-width: 1499px) {
		margin-left: 5px !important;
	}

	@media(max-width: 1100px) {
		margin-left: 4px !important;
	}
}


.mega-block-title {
	color: var(--black-color) !important;
	font-weight: 500 !important;
	text-align: center !important;
}

@include responsive(xs-sm) {
	#mega-menu-wrap-header-menu .mega-menu-toggle {
		position: relative;

		&.mega-menu-open {
			&+#mega-menu-header-menu {
				@include transform(translateY(0));
				top: 146.03px;

				@include responsive(xs) {
					top: 114px;
				}

				@include responsive(mobile) {
					top: 104px;
				}

				>li.mega-menu-item {
					opacity: 1;
				}
			}
		}

		&+#mega-menu-header-menu {
			overflow: auto;
			background: var(--black-color);
			@include transition(500ms);
			top: 0;
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			display: block !important;
			@include transform(translateY(-100%));
		}
	}
}

#mega-menu-wrap-header-menu #mega-menu-header-menu a.mega-menu-link .mega-description-group .mega-menu-title,
#mega-menu-wrap-header-menu #mega-menu-header-menu a.mega-menu-link .mega-description-group .mega-menu-description,
#mega-menu-wrap-header-menu #mega-menu-header-menu>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item>a.mega-menu-link,
#mega-menu-wrap-header-menu #mega-menu-header-menu>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item>a.mega-menu-link,
#mega-menu-wrap-header-menu #mega-menu-header-menu>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item h4.mega-block-title,
#mega-menu-wrap-header-menu #mega-menu-header-menu>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item h4.mega-block-title {
	@include responsive(xs-sm) {
		color: var(--white-color) !important;
		font-weight: 400 !important;
		font-size: 12px !important;
		text-align: left !important;
	}
}

#mega-menu-wrap-header-menu #mega-menu-header-menu li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column {
	@include responsive(xs-sm) {
		margin-bottom: 1rem;
	}
}